body {
	background-color: #101010;
	background-image: url("../resources/background/purpleMonster.png");
	font-family: Special Elite;
	color: #999999;
}

a {
	text-decoration: none; 
	color: #999999;
}

::selection {
	background-color: #C66730;
	color: #999999;
}

::-moz-selection {
	background-color: #C66730;
	color: #999999;	
}

/*------------0 TO 1439------------*/
@media only screen and (min-width: 0px) and (max-width: 1439px) {

#exit {
		width: 111px;
		height: 111px;
		opacity: 0;
		text-decoration: underline;
		font-size: 44px;
		margin-top: -234px;
		padding-left: 666px;
		animation-name: waitToAppear;
		animation-delay: 3s;
		animation-duration: 8s;
		animation-iteration-count: 1;
		animation-fill-mode: forwards;
		/*Safari & Chrome*/
		-webkit-animation-name: waitToAppear;
		-webkit-animation-delay: 3s;
		-webkit-animation-duration: 8s;
		-webkit-animation-iteration-count: 1;
		-webkit-animation-fill-mode: forwards;
	}

	@keyframes waitToAppear {
		0% {opacity: 0;}
		100% {opacity: 1;}
	}

	/*Safari & Chrome*/
	@-webkit-keyframes waitToAppear {
		0% {opacity: 0;}
		100% {opacity: 1;}
	}

	.warning {
		width: 444px;
		height: 111px;
		padding-top: 44px;
		padding-bottom: 0px;
		padding-left: 444px;
		padding-right: 33px;
		text-align: center;
		font-size: 77px;
	}

	.catGhost {
		z-index: -1;
		opacity: .6;
		padding-top: 11px;
		padding-left: 44px;
		width: 484px;
		height: 484px;
	}
}

/*------------1440 TO 1599------------*/
@media only screen and (min-width: 1440px) and (max-width: 1599px) {

	#exit {
		width: 444px;
		height: 111px;
		opacity: 0;
		text-decoration: underline;
		font-size: 111px;
		margin-top: -444px;
		padding-left: 999px;
		animation-name: waitToAppear;
		animation-delay: 3s;
		animation-duration: 8s;
		animation-iteration-count: 1;
		animation-fill-mode: forwards;
		/*Safari & Chrome*/
		-webkit-animation-name: waitToAppear;
		-webkit-animation-delay: 3s;
		-webkit-animation-duration: 8s;
		-webkit-animation-iteration-count: 1;
		-webkit-animation-fill-mode: forwards;
	}

	@keyframes waitToAppear {
		0% {opacity: 0;}
		100% {opacity: 1;}
	}

	/*Safari & Chrome*/
	@-webkit-keyframes waitToAppear {
		0% {opacity: 0;}
		100% {opacity: 1;}
	}

	.warning {
		width: 777px;
		height: 111px;
		padding-top: 111px;
		padding-bottom: 0px;
		padding-left: 666px;
		padding-right: 33px;
		text-align: center;
		font-size: 111px;
	}

	.catGhost {
		z-index: -1;
		opacity: .6;
		padding-top: 21px;
		padding-left: 44px;
		width: 616px;
		height: 616px;
	}
}

/*------------1600+------------*/
@media only screen and (min-width: 1600px) {

	#exit {
		width: 444px;
		height: 111px;
		opacity: 0;
		text-decoration: underline;
		font-size: 111px;
		margin-top: -666px;
		padding-left: 1313px;
		animation-name: waitToAppear;
		animation-delay: 3s;
		animation-duration: 8s;
		animation-iteration-count: 1;
		animation-fill-mode: forwards;
		/*Safari & Chrome*/
		-webkit-animation-name: waitToAppear;
		-webkit-animation-delay: 3s;
		-webkit-animation-duration: 8s;
		-webkit-animation-iteration-count: 1;
		-webkit-animation-fill-mode: forwards;
	}

	@keyframes waitToAppear {
		0% {opacity: 0;}
		100% {opacity: 1;}
	}

	/*Safari & Chrome*/
	@-webkit-keyframes waitToAppear {
		0% {opacity: 0;}
		100% {opacity: 1;}
	}

	.warning {
		width: 888px;
		height: 111px;
		padding-top: 111px;
		padding-bottom: 0px;
		padding-left: 919px;
		padding-right: 33px;
		text-align: center;
		font-size: 131px;
	}

	.catGhost {
		z-index: -1;
		opacity: .6;
		padding-top: 33px;
		padding-left: 88px;
		width: 735px;
		height: 735px;
	}
}