/*
==============================================================================
CSS FOR FALLBACK PAGES
==============================================================================
*/

.fbContainer {
  height: auto;
  width: 777px;
  background-image:url("../img/bg/blackClear.png");
  margin-top: auto;
  margin-right: auto;
  margin-bottom: 44px;
  margin-left: auto;
  padding-top: 16px;
  padding-right: 33px;
  padding-bottom: 33px;
  padding-left: 33px;
  border-color: #AAAAAA;
  border-style: solid;
  border-width: 2px;
  border-radius: 3px;
  font-size: 18px;
  text-align: left;
  box-shadow: 3px 3px 24px #AAAAAA;
}

.fbContent {
  padding-top: 0px;
  padding-right: 21px;
  padding-bottom: 0px;
  padding-left:21px;
}

.browserIcons {
  text-align: center;
  font-size: 16px;"
}

.sectionBorder {
  width: 282px;
  background-image: url("../img/bg/blackClear.png");
  border-color: #AAAAAA;
  border-radius: 33px;
  border-width: 2px;
  border-top-style: transparent;
  border-right-style: outset;
  border-bottom-style: outset;
  border-left-style: transparent;
}

.sectionTitle {
  display: inline-block;
  vertical-align: middle;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 12px;
  font-size: 24px;
}

.instructions {
  margin-top: 3px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 44px;
  font-size: 16px;
}

.instructions li {
  padding-bottom: 3px;
}

.centerLink {
  text-align: center;
  padding-top:12px;
}
