/*############UNIVERSAL############*/

body {
  background-color: #a55656;
  color: #fdefef;
  text-align: center;
}

.cont {
  background-color: #413636;
  margin: 10px auto auto auto;
  width: 80%;
  height: 800px;
  border-color: #fdefef;
  border-style: double;
  border-width: 4px;
  box-shadow: 8px 8px 10px #503c3c;
}

.left {
  margin: 0px;
  padding: 10px;
  display: inline-block;
  float: left;
  text-align: left;
  width: 48%;
  height: 100%;
  border-right-color: #fdefef;
  border-right-style: solid;
  border-right-width: 1px;
}

.right {
  margin: 0px;
  padding: 10px;
  display: inline-block;
  float: right;
  text-align: left;
  width: 48%;
  height: 100%;
}
