/*------------UNIVERSAL------------*/

a {
	text-decoration: none; 
	color: #999999;
}

a:hover {
	animation-name: hoverColor;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	/*Safari & Chrome*/
	-webkit-animation-name: hoverColor;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
}

@keyframes hoverColor {
	0% {background-color: #0F0415;}
	50% {background-color: #300949;}
	100% {background-color: #0F0415;}
}

@-webkit-keyframes hoverColor {
	0% {background-color: #0F0415;}
	50% {background-color: #300949;}
	100% {background-color: #0F0415;}
}

hr{
   border: 1px solid #4A4B4C;
}

body {
	background-color: #101010;
	background-image: url("resources/background/leviMonster.png");
	font-family: 'Ubuntu Mono', sans-serif;
	color: #999999;
	text-align: center;
	font-size: medium;
	}

#banner {
	color: #AAAAAA;
	position: absolute;
	right: 0;
	left: 0;
	z-index: -1;
	animation-name: bannerSlip;
	animation-delay: 1s;
	animation-duration: 8s;
	animation-iteration-count: infinite;
	/*Safari & Chrome*/
	-webkit-animation-name: bannerSlip;
	-webkit-animation-duration: 8s;
	-webkit-animation-delay: 1s;
	-webkit-animation-iteration-count: infinite;
}

@keyframes bannerSlip {
	0% {padding-top: 0px;}
	50% {padding-top: 12px;}
	100% {padding-top: 0px;}
}

/*Safari & Chrome*/
@-webkit-keyframes bannerSlip {
	0% {padding-top: 0px;}
	50% {padding-top: 12px;}
	100% {padding-top: 0px;}
}

::selection {
	background-color: #060024;
	color: #999999;
	}

::-moz-selection {
	background-color: #060024;
	color: #999999;	
	}

.header {
		font-size: large;
		text-align: center;
	}

.content {
		padding-left:21px;
		padding-right: 21px;
	}

/*LICENSE*/

.termsTitle {
		padding-left: 33px;
		font-size: x-large;
	}

	.terms ul {
		list-style-type: none;
		padding: 0px;
		margin: 0px;
	}

	.terms ul li {
		background-repeat: no-repeat;
		background-position: 0px 0px;
		padding-left: 77px;
		height: 66px;
	}

	.terms ul li span {
		color: #AAAAAA;
		vertical-align: middle;
	}

/*BLOG*/

	.title {
		padding-left: 33px;
		font-size: x-large;
	}

	.titleTime {
		padding-left: 48px;
		font-size: small;
		font-style: italic;
	}

/*------------1024 x 768------------*/
@media only screen and (max-width: 1024px) {

	.copyright {
		color: #999999;
		margin: auto;
		width: 777px;
		text-align: right;
		font-size: small;
	}

	.container {
		margin: auto;
		height: auto;
		width: 777px;
		border-radius: 88px;
		padding-top: 16px;
		padding-bottom: 33px;
		padding-left: 33px;
		padding-right: 33px;
		background-color: #111111;
		border-style: solid;
		border-color: #010101;
		border-width: 4px;
		font-size: large;
		text-align: left;
	}

	/*BLOG*/

	.post {
		margin-top: auto;
		margin-bottom: 33px;
		margin-left: auto;
		margin-right: auto;
		padding-top: 11px;
		padding-bottom: 11px;
		padding-left: 11px;
		padding-right: 11px;
		border-radius: 11px;
		width: 666px;
		background-color: #101010;
		border-style: dotted;
		border-color: #010101;
		font-size: medium;
		text-align: left;
	}

	/*LICENSE*/

	.terms {
		margin: auto;
		width: 666px;
		text-align: left;
		font-size: large;
	}

}

/*------------HIGH RESOLUTION DISPLAYS------------*/
@media only screen and (min-width: 1025px) {

	.copyright {
		color: #999999;
		margin: auto;
		width: 888px;
		text-align: right;
		font-size: small;
	}

	.container {
		margin: auto;
		height: auto;
		width: 888px;
		border-radius: 88px;
		padding-top: 16px;
		padding-bottom: 33px;
		padding-left: 33px;
		padding-right: 33px;
		background-color: #111111;
		border-style: solid;
		border-color: #010101;
		border-width: 4px;
		font-size: large;
		text-align: left;
	}

	/*BLOG*/

	.post {
		margin-top: auto;
		margin-bottom: 33px;
		margin-left: auto;
		margin-right: auto;
		padding-top: 11px;
		padding-bottom: 11px;
		padding-left: 11px;
		padding-right: 11px;
		border-radius: 11px;
		width: 800px;
		background-color: #101010;
		border-style: dotted;
		border-color: #010101;
		font-size: medium;
		text-align: left;
	}

	/*LICENSE*/

	.terms {
		margin: auto;
		width: 777px;
		text-align: left;
		font-size: large;
	}

}