/*UNIVERSAL*/

body {
	background-color: #171814;
	font-family: 'Ubuntu Mono', sans-serif;
	color: #DEDEDE;
	text-align: center;
	font-size: medium;
}

a {
	text-decoration: none; 
	color: #DEDEDE;
}

.console {
	margin: 0 auto;
	padding: 24px;
	border-radius: 88px;
	height: 444px;
	width: 888px;
	background-color: #272822;
	text-align: left;
	overflow: scroll;
}

footer {
	position: fixed;
	bottom: 10px;
	right: 25px;
	font-size: small;
	color: #444444;
	overflow: hidden;
}

footer a {
	color: #666666;
}

/*LICENSE*/

.license {
	text-align: left;
	font-size: large;
}

/*INDEX*/

.construction {
	font-size: xx-large;
}

/*BLOG*/

.blogPost {
	margin: 0 auto;
	border-radius: 8px;
	width: 500px;
	background-color: #272822;
	text-align: center;
}

.title {
	font-size: x-large;
}

.titleTime {
	font-size: small;
}

.content {
	font-size: medium;
	text-align: left;
}