body {
	background-color: #000000;
}

#main {
	position: relative;
	left: 300px;
	border-radius: 5px;
	height: 600px;
	width: 400px;
	background-color: #3A00B8;
	text-align: center;
}

#welcome {
	font-size: 3em;
	color: #DEDEDE;
}

#courtesy {
	font-size: 1em;
	color: #DEDEDE;
}