body {
	background-color: #171814;
}

.footer {
	font-family: 'Ubuntu Mono', sans-serif;
	font-size: small;
	text-align: center;
	color: #DEDEDE;
}

.main {
	font-family: 'Ubuntu Mono', sans-serif;
	position: relative;
	left: 700px;
	border-radius: 5px;
	height: 600px;
	width: 500px;
	background-color: #272822;
	text-align: center;
	color: #DEDEDE;
}

.title {
	font-size: x-large;
}

.content {
	font-size: medium;
	text-align: left;
}