[hidden] {
  display: none;
}

[draggable="false"] {
  -khtml-user-drag: none;
  -webkit-user-drag: none;
}

body {
    margin: 0px;
    background-color: #3f3743;
    font-family: sans-serif;
    font-size: 44px;
    color: #914a4a;
    text-align: center;
}

sup {
    font-size: 21px;
}

hr {
    border-style: solid;
    border-width: 1px;
    color: #3e3e3e;
}

::-moz-selection {
  background-color: #ed0869;
  color: #010101;
}

::selection {
  background-color: #ed0869;
  color: #DEDEDE;
}

.unselectable {
  /*set selection color to transparent*/
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#titleBar {
    padding: 10px;
    background-image: url("../img/solarBlack.png");
    border-style: outset;
    border-width: 2px;
    border-color: #3e3e3e;
    text-shadow: 1px 1px 1px #000000;
}

#prompt {
    margin-top: 100px;
    color: #47806f;
    text-shadow: 1px 1px 1px #000000;
}

#req {
    visibility: hidden;
    margin: 30px 100px 0px 100px;
    padding: 10px;
    height: 242px;
    border-radius: 10px;
    border-style: dotted;
    border-width: 3px;
    border-color: #3e3e3e;
    background-color: #b7ba6f;
    font-size: 21px;
    color: #404040;
}

#dataBox {
    margin:  auto auto auto;
    width: 400px;
    height: 500px;
    border-radius: 10px;
    background-color: rgba(124, 16, 16, 0.33);
    font-size: 21px;
    color: #47806f;
    box-shadow: 1px 1px 13px #000000;
    text-shadow: 1px 1px 1px #000000;
}

#theFieldset {
    margin: auto;
    width: 800px;
    border-style: dashed;
    border-width: 3px;
}

.fieldset_off {
    border-color: transparent;
    box-shadow: 0px 0px 0px #a32121;
}

.fieldset_incorr {
    border-color: #a32121;
    box-shadow: 0px 0px 10px #a32121;
}

.fieldset_corr {
    border-color: #21a371;
    box-shadow: 0px 0px 10px #21a371;
}

#theLegend {
    text-align: left;
    font-size: 21px;
}

#badLoginFace {
    visibility: hidden;
}

#badLogin {
    display: inline-block;
    visibility: hidden;
    vertical-align: super;
    font-size: 16px;
    color: #566f68;
}

#forgotPass {
    margin-top: 171px;
    padding: 30px;
    text-align: right;
}

#forgotPass:hover {
    color: #DEDEDE;
    cursor: pointer;
}

#emailContOutline {
    position: absolute;
    margin: 0px;
    right: 0px;
    bottom: 0px;
    width: 720px;
    height: 369px; /*9px & 369px*/
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    box-shadow: 1px 1px 13px #000000;
}

#emailCont {
    position: absolute;
    margin: 0px;
    right: 0px;
    bottom: 0px;
    padding: 10px 10px 0px 10px;
    width: 700px;
    height: 400px; /*40px & 400px*/
    border-radius: 10px;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #000000;
    background-image: url("../img/emailSysbg.png");
    text-align: right;
    font-size: 21px;
    box-shadow: 1px 1px 0px #000000;
    overflow: hidden;
}

table {
    box-sizing: border-box;
}

#emailSys {
    font-size: 18px;
}

#emailSys sup {
    font-size: 10px;
}

#emailsHeader {
    background-image: url("../img/solarBlack.png");
}

.emails {
    background-image: url("../img/white.png");
}

th {
    min-width: 222px;
}

.emails td {
    min-width: 222px;
}

tr {
    display: block;
}

tr:hover {
    box-shadow: 0px 2px 18px 0px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.legend_off {
    color: #3f3743;
    text-shadow: 0px 0px 0px #3f3743;
}

.legend_incorr {
    color: #a32121;
    text-shadow: 1px 1px 1px #000000;
}

.legend_corr {
    color: #21a371;
    text-shadow: 1px 1px 1px #000000;
}

.dataEntry {
    width: 300px;
    height: 40px;
    border-radius: 10px;
    border-style: inset;
    border-width: 2px;
    border-color: #3e3e3e;
    background-color: rgba(124, 16, 16, 0.33);
    text-align: center;
    font-size: 24px;
    color: #47806f;
    text-shadow: 1px 1px 1px #000000;
}
