#medicFace {
	position: absolute;
	bottom: 0px;
	margin-left: -10px;
	animation:slideUp 8s infinite;
	/*Safari and Chrome:*/
	-webkit-animation:slideUp 8s infinite;
}

@keyframes slideUp {
	0% {opacity: 0;}
	50% {opacity: 1;}
	100% {opacity: 0;}
}

/*Safari and Chrome:*/
@-webkit-keyframes slideUp {
	0% {opacity: 0;}
	50% {opacity: 1;}
	100% {opacity: 0;}
}