#medicFace {
	position: absolute;
	bottom: 0px;
	margin-left: -10px;
	animation-name: fadeIn;
	animation-duration: 8s;
	/*Safari and Chrome:*/
	-webkit-animation-name: fadeIn;
	-webkit-animation-duration: 8s;
}

@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

/*Safari and Chrome:*/
@-webkit-keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}